<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contactlist.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('contactlist') }}">Contacts</a></li>
                <li><a href="{{ url_for('add_contact') }}">Add Contact</a></li>
                {% if session.get('user_id') %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h1>Contact List</h1>
        {% if contacts %}
            <table>
                <thead>
                    <tr>
                        <th class="orange-line name">Name</th>
                        <th class="orange-line actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                    <tr>
                        <td class="name">
                            <a href="{{ url_for('view_contact', contact_id=contact[0]) }}" class="contact-name">{{ contact[1] }}</a>
                        </td>
                        <td class="actions">
                            <button onclick="location.href='/view_contact/{{ contact[0] }}'" class="view-button">View</button>
                            <button onclick="location.href='/add_contact'" class="edit-button">Add</button>
                            <button onclick="if(confirm('Are you sure you want to delete this contact?')) location.href='/delete_contact/{{ contact[0] }}'" class="delete-button">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No contacts found.</p>
        {% endif %}
    </main>
    <script src="{{ url_for('static', filename='js/contactlist.js') }}"></script>
</body>
</html>
